<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	
	
</head>

<!-- Initiate app -->
<body ng-app="myApp" ng-controller="myCtrl">

	<div class="container">

		<header>
			<img src="http://icons.iconarchive.com/icons/xenatt/the-circle/128/App-Spotify-icon.png" width="200" height="200">
			<h1>Spotify</h1>
		
			<!-- <span class="fa fa-twitter fa-2x"></span> -->
			<div class="log-out" id="logout" ng-show="userId">
				<span>{{users[userId].handle}}</span>
				<button ng-click="logOut()" class="btn btn-success">Logout</button>
			</div>
		</header>

		<form name="myForm" ng-show="!userId" id="myForm" novalidate>
		<div class="form-group">
					<label>Email:</label>
					<input  ng-model="email" name="email" type="email" class="form-control"></input>

					<!-- Show an error message if the email is not valid -->	
					<p class="help-block" ng-show="myForm.email.$error.email">Not a valid email!</p>
				</div>

				<!-- Password -->
				<div class="form-group">
					<label>Password:</label>
					<input  name="password" type="password" class="form-control" ng-model="password" required></input>      
				</div>

				<!-- Submit buttons: should only be active if certain inputs are valid -->
				<div class="form-group">
					<button ng-click="register()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-success">Register</button> 
					<button ng-click="signIn()" ng-disabled="myForm.email.$invalid || myForm.password.$invalid" type="submit" class="btn btn-success">Login</button>
				</div>
		</form>	

		<!-- Form -->

			<form class="container" name="songForm" ng-show="userId">
				<div class="form-group">
					<label>Track search:</label>
					<input name="search" placeholder="Search" ng-model="track" class="form-control"></input>
				</div>
				<div class="form-group">
					<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
				</div>
			</form>

		<!-- Results -->
		<div class="container-fixed">
			<div class="help-block">
				<span ng-show="albums.length>0">Click to sample</span>
				<span ng-show="currentSong && !audioObject.paused">(playing)</span>
			</div>
			<div class="row" id="row">
				<div class="col-md-6" ng-repeat="track in tracks" title="{{track.name}}" ng-click="play(track.preview_url)">
					<img src="{{track.album.images[0].url}}" width="300" height="300" id="albumImg">
					<span>{{track.name + ', by ' + track.artists[0].name}}</span> 
				</div>
			</div>			
		</div>
	</div>
</body>
</html>